﻿@model IEnumerable<Form>

@{
    ViewData["Title"] = "PostForm";
}

<h2>PostForm</h2>

<form method="post" asp-action="PostForm" id="FormTest1">
    <input type="text" placeholder="type id here" name="id" />
    <input type="text" placeholder="type email here" name="email" />
    <input type="text" placeholder="type name here" name="name" />
    <button type="submit" value="submit" id="PostForm">Submit</button>
</form>

<form method="get" asp-action="GetForm" id="FormTest2">
    <label for="filter">Filter</label>
    <input type="text" placeholder="length of name >= ..." name="filter" id="filter" />
    <button type="submit" value="submit" id="GetForm">Submit</button>
</form>

@if (ViewData["filter"] == null)
{
    <h1>no filter has been applied</h1>
}
else
{
    <h1>Length of name >= @ViewData["filter"]</h1>
    <form method="get" asp-action="ClearFilter" id="FormTest3">
        <button type="submit" id="ClearFilter">Clear Filter</button>
    </form>
}

@if (Model == null)
{
    <p>no data in db</p>
}
else
{
    <table class="table" id="PostFormTable">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr accesskey=@data.Id>
                    <td>@data.Name</td>
                    <td>@data.Email</td>
                </tr>
            }
        </tbody>
</table>
}
