﻿

<h2>@ViewData["Bad"]</h2>

<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>

<p>Hello from our View Template!</p>
<p>Hello from our View Template!</p>